.wrapper {
    padding: 20px 0;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}



